<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="icon" type="image/png" href="/img/favicon.png"/>
    <title >Mon super Pokédex</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container" style="background-color: white;">
      <a href="/">
        <h1>Mon super pokédex</h1>
      </a>
      {% block content %}{% endblock %}
      <hr>
      <div class="text-center">
        Copyright Bryan THEURIER 2020
      </div>
    </div>
  </body>
</html>

<style>
  body {
    background-image: url('/img/wallpaper.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  </style>